<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISTAR Production</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/grid.css">
    <link rel="stylesheet" href="../style/producted.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="stylesheet" href="../venobox/venobox.css" type="text/css" media="screen" />
    <link href="../style/aos-master/dist/aos.css" rel="stylesheet">
    <script src="../style/aos-master/dist/aos.js"></script>

</head>
<body>
    <div class="wrapper">
        <header id="top">
            <div class="header">
                <div class="logo">
                    <a href="../home.html"><img src="../images/logo-vistar-media-màu-trắng.png" alt=""></a>
                </div>
                <ul class="nav-bar">
                    <li class="nav-bar-item "><a  href="../home.html">Trang chủ</a></li>
                    <li class="nav-bar-item"><a href="../components/service.html">Dịch vụ</a>
                        <!-- <ul class="nav-bar-item-list">
                            <li><a href="#">Tư vấn chiến phát triển thương hiệu</a></li>
                            <li><a href="#">Thiết kế nhận diện thương hiệu</a></li>
                            <li><a href="#">Tư vấn thiết kế website</a></li>
                        </ul> -->
                    </li>
                    <li class="nav-bar-item"><a class="active" href="#">Dự án đã thực hiện</a></li>
                    <li class="nav-bar-item"><a href="#">Kiến thức thương hiệu</a></li>
                </ul>
                <div class="nav-icon" id="open-btn" >
                    <i class="fa-solid fa-bars"></i>
            </div>
            <div class="mobile-nav" id="nav-mobibe" >
                <div class="close-btn"><i class="fa-solid fa-xmark" ></i></div>
                <ul class="mobile-navbar">
                    <li class="nav-bar-item "><a  href="../home.html">Trang chủ</a></li>
                    <li class="nav-bar-item"><a href="../components/service.html">Dịch vụ</a></li>
                    <li class="nav-bar-item"><a class="active" href="#">Dự án đã thực hiện</a></li>
                    <li class="nav-bar-item"><a href="#">Kiến thức thương hiệu</a></li>
                </ul>
            </div>
            </div>
        </header>

        <div class="banner">
            <div class="img-banner">
                <img src="../images/banner-main.jpg" alt="">
            </div>            
            <h1> DỰ ÁN SẢN XUẤT <br>
            <a href="#">VISTAR PRODUCTION</a>
            <br>
            <a href="#video"><button class="btn-open">Xem video</button></a>
            </h1>
        </div>

        <div class="grid wide">
            <div class="baner-video">
                <div id="video" class="video">
                    <video src="../images/video/𝐃𝐄𝐁𝐎𝐒𝐒 - 𝐅𝐄𝐄𝐋 𝐓𝐇𝐄 𝐋𝐔𝐗𝐔𝐑𝐘.mp4" autoplay muted controls></video>
                </div>
            </div>
        </div>
        
    <div class="producted-contaier">
        <div class="grid wide">
            <h3 class="product-title">PHIM DOANH NGHIỆP</h3>
            <div class="row">
                <div class="col l-4 m-6 c-12 ">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery"  href="https://www.youtube.com/watch?v=-qX8mhS4uh4">
                            <img src="../images/phimdn1.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
            
                <div class="col l-4 m-6 c-12  ">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=nx1YaJ13zOY">
                            <img src="../images/phimdn2.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=_WHtpLfacME">
                            <img src="../images/phimdn3.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=suqpVYQ09Kk">
                            <img src="../images/phimdn4.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=yLKMpMDfzrI">
                            <img src="../images/phimdn5.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=43cyAwzwuIg">
                            <img src="../images/phimdn6.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
            </div>

            <h3 class="product-title">PHIM QUẢNG BÁ SẢN PHẨM & THƯƠNG HIỆU</h3>
            <div class="row">
                <div class="col l-4 m-6 c-12 ">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery"  href="https://www.youtube.com/watch?v=kltFt6RNXrM&t=11s">
                            <img src="../images/imgproject1.jpg" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=B0Bcc8pDkGs&list=PLrORLyal5cb4jKw4Am6i46KUzVlka94EV&index=1">
                            <img src="../images/imgproject2.jpg" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12  ">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=kRXat2DJO1Q&list=PLrORLyal5cb4jKw4Am6i46KUzVlka94EV&index=4">
                            <img src="../images/imgproduct3.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=Gx8D8GBqfm4&list=PLrORLyal5cb4jKw4Am6i46KUzVlka94EV&index=33">
                            <img src="../images/imgproject4.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=uOl_tSBiE9Q&list=PLrORLyal5cb4jKw4Am6i46KUzVlka94EV&index=32">
                            <img src="../images/tvc2.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=5cR-HSkj4AE&list=PLrORLyal5cb4jKw4Am6i46KUzVlka94EV&index=13">
                            <img src="../images/imgproject6.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <h3 class="product-title">PHIM DỰ ÁN CHÍNH PHỦ</h3>
            <div class="row">
                <div class="col l-4 m-6 c-12 ">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery"  href="https://www.youtube.com/watch?v=0ZsFRf3bIAM&list=PLrORLyal5cb4jSXdAU-DUAfikxwVRnHo-">
                            <img src="../images/dacp1.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12 ">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery"  href="https://www.youtube.com/watch?v=2DC0Ig3q3dE&list=PLrORLyal5cb4jSXdAU-DUAfikxwVRnHo-&index=2">
                            <img src="../images/dacn2.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12  ">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=b8oilI3Jt08&list=PLrORLyal5cb4jSXdAU-DUAfikxwVRnHo-&index=3">
                            <img src="../images/dacp3.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=OblMTPQ3JdM&list=PLrORLyal5cb4jSXdAU-DUAfikxwVRnHo-&index=4">
                            <img src="../images/dacp4.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=2QxNl5E8WpI&list=PLrORLyal5cb4jSXdAU-DUAfikxwVRnHo-&index=7">
                            <img src="../images/dacp5.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="product-video">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" data-gall="myGallery" href="https://www.youtube.com/watch?v=SBvdbrZGo8c">
                            <img src="../images/dacp6.png" alt="">
                            <div class="btn-play"><i class="fa-solid fa-play"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
      

    <div class="gid">
        <div class="row">
            
        </div>
    </div>

    
  

   
    
       
        <footer>
            <div class="footer">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-4 ">
                            <div class="footer-logo">
                                <a href="../home.html"><img src="../images/logo-vistar-media-màu-trắng.png" alt=""></a>
                            </div>
                            <h4>VISTAR MEDIA - BRAND BUILDER Chúng tôi luôn sẵn sàng trở thành người đồng hành trung thành, nhiệt huyết để hiện thực hóa những ý tưởng kinh doanh của khách hàng, góp phần quan trọng tạo ra những THƯƠNG HIỆU thực sự mạnh và bền vững.</h4>
                    
                            
                        </div>
                        <div class="col l-5 ">
                            <div class="row">
                                <div class="col">
                                    <H3>VỀ CHÚNG TÔI</H3>
                                    <div class="our">
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Giới thiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Tuyển dụng</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Thanh toán</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p> Chính sách</p></a>
                                    </div>
                                </div>
                                <div class="col ">
                                    <H3>DỊCH VỤ</H3>
                                    <div class="our">
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Tư vấn chiến lược thương hiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Thiết kế nhận diện thương hiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Sản xuất video thương hiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Phòng marketing thuê ngoài</p></a>
                                    </div>
                                </div>
                            </div>

                            <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
                            <div class="our">
                                <a class="none-line" href="#"><i class="fa-solid fa-phone"></i> 0986820055</a>
                                <a class="none-line"  href="#"><i class="fa-solid fa-envelope"> </i> CEO@VISTAR.COM</a>
                                <a class="none-line"  href="#">Địa chỉ:Hoàng Đạo Thúy,Trung Hòa,Cầu Giấy,Hà Nội.</a>
                            </div>
                        </div>
                        <div class="col l-3 ">
                            <h3>LIÊN KẾT</h3>
                            <div class="our">
                                <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Facebook</p></a>
                                <a href="https://www.youtube.com/channel/UCntU9arwHLJN4RYnzQGz-Dg"><i class="fa-solid fa-angle-right"></i> <p> Youtube</p></a>
                            </div>
                            <div class="foot-icon">
                                <a  href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                               <a href="#"> <i class="fa-solid fa-phone"></i></a>
                                <a href="https://www.youtube.com/channel/UCntU9arwHLJN4RYnzQGz-Dg"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <a href="#top" class="smooth"><i class="fas fa-angle-double-up"></i></a>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" src="jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../venobox/venobox.min.js"></script>
<script>
   new VenoBox({
         selector: '.my-video-links',
         maxWidth: '80%',
         navigation: true,
         navKeyboard:true
    });
</script>
<script src="../js/main.js"></script>


</html>