<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProduction</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/grid.css">
    <link rel="stylesheet" href="../style/slideshow.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../style/aos-master/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../style/aos-master/dist/aos.js"></script>

</head>
<body>
    <div class="wrapper">
        <header id="header">
            <div class="header">
                <div class="logo">
                    <a href="../home.html"><img src="../images/logo-vistar-media-màu-trắng.png" alt=""></a>
                </div>
                <ul class="nav-bar">
                    <li class="nav-bar-item "><a href="../home.html">Trang chủ</a></li>
                    <li class="nav-bar-item"><a   href="../components/service.html">Dịch vụ</a>
                        <ul class="nav-bar-item-list">
                            
                        </ul>
                    </li>
                    <li class="nav-bar-item"><a href="../components/producted.html">Dự án đã thực hiện</a></li>
                    <li class="nav-bar-item"><a href="#">Kiến thức thương hiệu</a></li>
                </ul>
                <div class="nav-icon" id="open-btn" >
                    <i class="fa-solid fa-bars"></i>
            </div>
            <div class="mobile-nav" id="nav-mobibe" >
                <div class="close-btn"><i class="fa-solid fa-xmark" ></i></div>
                <ul class="mobile-navbar">
                    <li class="nav-bar-item "><a  href="../home.html">Trang chủ</a></li>
                    <li class="nav-bar-item"><a href="../components/service.html">Dịch vụ</a>
                        <!-- <ul class="nav-bar-item-list">
                            <li><a href="#">Tư vấn chiến phát triển thương hiệu</a></li>
                            <li><a href="#">Thiết kế nhận diện thương hiệu</a></li>
                            <li><a href="#">Tư vấn thiết kế website</a></li>
                        </ul> -->
                    </li>
                    <li class="nav-bar-item"><a href="../components/producted.html">Dự án đã thực hiện</a></li>
                    <li class="nav-bar-item"><a href="#">Kiến thức thương hiệu</a></li>
                </ul>
            </div>
            </div>
        </header>
        
        
          
            <div class="grid wide">
                <div class="page-content">
                    <marquee  width="100%"  height="10%">TVC QUẢNG CÁO – DU THUYỀN AMIRA CRUISES</marquee   > 
                    <div class="video-youtube">
                        <iframe width="100%" height="500" src="https://www.youtube.com/embed/kRXat2DJO1Q" title="DU THUYỀN AMIRA CRUISES VỊNH HẠ LONG | Vistar Media" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <a href="https://www.youtube.com/channel/UCntU9arwHLJN4RYnzQGz-Dg">Nhấp để xem thêm nhiều hơn các dự án của chúng tôi</a>

                </div>
            </div>
     
       
            <div class="products">
                <h2>CÁC DỰ ÁN NỔI BẬT KHÁC</h2>
                <div class="grid wide">
                    <div class="row  .products-list">
                        <div class="products-list-slider">
                            <div>
                                <a href="../components/product-details2.html" class="products-item">
                                    <div>
                                        <img src="../images/imgproject2.jpg" alt="">
                                    </div>
                                    <div>
                                        <h3>TVC QUẢNG CÁO – PHỤ KIỆN BẾP EUROGOLD</h3>
                                    </div>
                                </a>
                            </div>
                            <div> 
                               
                                <a href="../components/product-details.html" class="products-item">
                                    <div>
                                        <img src="../images/imgproject1.jpg" alt="">
                                    </div>
                                    <div>
                                        <h3>TVC OCEAN GATE</h3>
                                    </div>
                                </a>
                            </div>
                            
                            <div>
                                <a href="../components/product-details4.html" class="products-item">
                                    <div>
                                        <img src="../images/imgproject4.png" alt="">
                                    </div>
                                    <div>
                                        <h3>VIDEO MARKETING HỆ THỐNG ANITA VILLA SẦM SƠN </h3>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="../components/product-details5.html" class="products-item">
                                    <div>
                                        <img src="../images/imgproject5.png" alt="">
                                    </div>
                                    <div>
                                        <h3>VIDEO MARKETING NỘI THẤT DOHOME </h3>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="../components/product-details6.html" class="products-item">
                                    <div>
                                        <img src="../images/imgproject6.png" alt="">
                                    </div>
                                    <div>
                                        <h3>QUAY PHIM SẢN PHẨM RÈM NỘI THẤT</h3>
                                    </div>
                                </a>
                            </div>
                         </div>
                
                    </div>
                   
                </div>
            </div>
      
            <a href="#top" class="smooth"><i class="fas fa-angle-double-up"></i></a>

            <footer>
                <div class="footer">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col l-4">
                                <div class="footer-logo">
                                    <a href="../home.html"><img src="../images/logo-vistar-media-màu-trắng.png" alt=""></a>
                                </div>
                                <h4>VISTAR MEDIA - BRAND BUILDER Chúng tôi luôn sẵn sàng trở thành người đồng hành trung thành, nhiệt huyết để hiện thực hóa những ý tưởng kinh doanh của khách hàng, góp phần quan trọng tạo ra những THƯƠNG HIỆU thực sự mạnh và bền vững.</h4>
                          
                                
                            </div>
                            <div class="col l-5">
                                <div class="row">
                                    <div class="col">
                                        <H3>VỀ CHÚNG TÔI</H3>
                                        <div class="our">
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Giới thiệu</p></a>
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Tuyển dụng</p></a>
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Thanh toán</p></a>
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p> Chính sách</p></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <H3>DỊCH VỤ</H3>
                                        <div class="our">
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Tư vấn chiến lược thương hiệu</p></a>
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Thiết kế nhận diện thương hiệu</p></a>
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Sản xuất video thương hiệu</p></a>
                                            <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Phòng marketing thuê ngoài</p></a>
                                        </div>
                                    </div>
                                </div>
    
                                <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
                                <div class="our">
                                    <a class="none-line" href="#"><i class="fa-solid fa-phone"></i> 0986820055</a>
                                    <a class="none-line"  href="#"><i class="fa-solid fa-envelope"> </i> CEO@VISTAR.COM</a>
                                </div>
                            </div>
                            <div class="col l-3">
                                <h3>LIÊN KẾT</h3>
                                <div class="our">
                                    <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Facebook</p></a>
                                    <a href="https://www.youtube.com/channel/UCntU9arwHLJN4RYnzQGz-Dg"><i class="fa-solid fa-angle-right"></i> <p> Youtube</p></a>
                                </div>
                                <div class="foot-icon">
                                    <a  href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                                   <a href="#"> <i class="fa-solid fa-phone"></i></a>
                                    <a href="https://www.youtube.com/channel/UCntU9arwHLJN4RYnzQGz-Dg"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
       
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="../js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../js/slider.js"></script>
</html>