<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProduction</title>
    <link rel="stylesheet" href="../style/grid.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/services.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link href="../style/aos-master/dist/aos.css" rel="stylesheet">
    <script src="../style/aos-master/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="wrapper">
        <header id="top">
            <div class="header">
                <div class="logo">
                    <a href=""><img src="/images/logo-vistar-media-màu-trắng.png" alt=""></a>
                </div>
                <ul class="nav-bar">
                    <li class="nav-bar-item "><a href="../home.html">Trang chủ</a></li>
                    <li class="nav-bar-item"><a class="active"  href="#">Dịch vụ</a>
                        <ul class="nav-bar-item-list">
                            
                        </ul>
                    </li>
                    <li class="nav-bar-item"><a href="../components/producted.html">Dự án đã thực hiện</a></li>
                    <li class="nav-bar-item"><a href="#">Kiến thức thương hiệu</a></li>
                </ul>
                <div class="nav-icon" id="open-btn" >
                    <i class="fa-solid fa-bars"></i>
            </div>
            <div class="mobile-nav" id="nav-mobibe" >
                <div class="close-btn"><i class="fa-solid fa-xmark" ></i></div>
                <ul class="mobile-navbar">
                    <li class="nav-bar-item "><a href="../home.html">Trang chủ</a></li>
                    <li class="nav-bar-item"><a class="active"  href="#">Dịch vụ</a>
                        <ul class="nav-bar-item-list">
                            
                        </ul>
                    </li>
                    <li class="nav-bar-item"><a href="../components/producted.html">Dự án đã thực hiện</a></li>
                    <li class="nav-bar-item"><a href="#">Kiến thức thương hiệu</a></li>
                </ul>
            </div>
            </div>
        </header>

        <div class="banner">
            <div class="img-banner">
            <img src="https://htmldemo.net/ftage/ftage/img/other/banner.png" alt="">
            </div>            
            <h1>DỊCH VỤ <br>
            <span><a href="../home.html">Trang chủ </a>/ Dịch vụ</span>
            </h1>
            
        </div>
        <!-- tầm qtrong của thước phim doanh nghiệp -->
        <div class="container">
          
            <div class="page-content">
                <div class="services-right col l-8 m-9 m-o-2">
                    <h4>PHIM GIỚI THIỆU DOANH NGHIỆP,PHIM THƯƠNG HIỆU</h4>
                    <div class="row services-content " data-aos="fade-left" data-aos-duration="2000">
                        <div class="col l-5 m-6">
                            <img src="../images/imgslide1.jpg" >
                            
                        </div>
                        <div class="col l-7 m-6">Phim giới thiệu doanh nghiệp là phim được sản xuất để các Doanh nghiệp/ Tổ chức “tự” nói về mình. Phim doanh nghiệp ngày nay được sáng tạo, lồng ghép qua những câu chuyện kinh doanh, câu chuyện thành công của mỗi Doanh nghiệp, thể hiện bằng nhiều góc nhìn, cách tiếp cận, lấy cảm xúc để truyền đạt giá trị, thông điệp.
                        </div>
                    </div>
                    <h4>PHIM – TVC QUẢNG CÁO SẢN PHẨM VÀ DỊCH VỤ </h4>
                    <div class="row services-content" data-aos="fade-left" data-aos-duration="2000">
                        <div class="col l-5 m-6">
                            <img src="../images/imgslide2.jpg" >
                        </div>
                        <div class="col l-7 m-6">Phim quảng cáo – TVC quảng cáo là một loại hình quảng cáo bằng hình ảnh, giới thiệu về những sản phẩm thương mại,  hay dịch vụ của công ty/doanh nghiệp bạn đang cung cấp cho khách hàng. Cho khách hàng cái nhìn tổng quát đến chi tiết về sản phẩm và từ đó dẫn đến quyết định sử dụng dịch vụ/sản phẩm của bạn.
                        </div>
                    </div>
                    <h4>PHIM KỶ YẾU CỦA DOANH NGHIỆP, TỔ CHỨC</h4>
                    <div class="row services-content" data-aos="fade-left" data-aos-duration="2000">
                        <div class="col l-5 m-6">
                            <img src="../images/imgalise3.jpeg" alt="" >
                        </div>
                        <div class="col l-7 m-6">Thước phim kỷ yếu được ví như một cuốn tài liệu số, tóm lược lại quá trình hình thành và phát triển của cơ quan, tổ chức, doanh nghiệp. Hơn thế, đây cũng là một tài liệu mang tính quảng bá bởi tính chất tương tác mạnh mẽ với mạng xã hội, dễ tiếp cận và có sức hút và khả năng lan truyền  không giới hạn, dễ dàng tiếp cận với các đối tượng khác nhau.
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>

        <div class="viewmore">
            <a  href="#">Xem thêm nhiều hơn các dịch vụ của chúng tôi <i class="fa-solid fa-right-long"></i></a>

        </div>
        
        <footer>
            <div class="footer">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-4">
                            <div class="footer-logo">
                                <a href="home.html"><img src="../images/logo-vistar-media-màu-trắng.png" alt=""></a>
                            </div>
                            <h4>VISTAR MEDIA - BRAND BUILDER Chúng tôi luôn sẵn sàng trở thành người đồng hành trung thành, nhiệt huyết để hiện thực hóa những ý tưởng kinh doanh của khách hàng, góp phần quan trọng tạo ra những THƯƠNG HIỆU thực sự mạnh và bền vững.</h4>
                      
                            
                        </div>
                        <div class="col l-5">
                            <div class="row">
                                <div class="col">
                                    <H3>VỀ CHÚNG TÔI</H3>
                                    <div class="our">
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Giới thiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Tuyển dụng</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Thanh toán</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p> Chính sách</p></a>
                                    </div>
                                </div>
                                <div class="col">
                                    <H3>DỊCH VỤ</H3>
                                    <div class="our">
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Tư vấn chiến lược thương hiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Thiết kế nhận diện thương hiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Sản xuất video thương hiệu</p></a>
                                        <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Phòng marketing thuê ngoài</p></a>
                                    </div>
                                </div>
                            </div>

                            <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
                            <div class="our">
                                <a class="none-line" href="#"><i class="fa-solid fa-phone"></i> 0986820055</a>
                                <a class="none-line"  href="#"><i class="fa-solid fa-envelope"> </i> CEO@VISTAR.COM</a>
                            </div>
                        </div>
                        <div class="col l-3">
                            <h3>LIÊN KẾT</h3>
                            <div class="our">
                                <a href="#"><i class="fa-solid fa-angle-right"></i> <p>Facebook</p></a>
                                <a href="#"><i class="fa-solid fa-angle-right"></i> <p> Youtube</p></a>
                            </div>
                            <div class="foot-icon">
                                <a  href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                               <a href="#"> <i class="fa-solid fa-phone"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#top" class="smooth"><i class="fas fa-angle-double-up"></i></a>

    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/main.js"></script>


</html>